{% load static %}
<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">
    <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse"
            aria-controls="navbarVerticalCollapse"
            aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggle-icon"><span class="toggle-line"></span></span>
    </button>
    <a class="navbar-brand me-1 me-sm-3" href="/">
        <div class="d-flex align-items-center">
            <img class="me-2" src="{% static 'apps/assets/img/icons/spot-illustrations/alijahon.png' %}"
                 alt=""
                 width="40">
            <span class="font-sans-serif">alijahon</span>
        </div>
    </a>
    <ul class="navbar-nav align-items-center d-none d-lg-block">
        <li class="nav-item">
            <div class="search-box" data-list="{&quot;valueNames&quot;:[&quot;title&quot;]}">
                <form action="/search/" method="POST" class="position-relative" data-bs-toggle="search"
                      data-bs-display="static" autocomplete="off" aria-expanded="false">
                    <input id="search-input" name="product"
                           class="form-control search-input fuzzy-search ui-autocomplete-input"
                           type="search"
                           placeholder="Search..." aria-label="Search" autocomplete="off" role="textbox"
                           aria-autocomplete="list" aria-haspopup="true">
                    <svg class="svg-inline--fa fa-search fa-w-16 search-box-icon" aria-hidden="true"
                         focusable="false"
                         data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512" data-fa-i2svg="">
                        <path fill="currentColor"
                              d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                    </svg>
                </form>
                <div class="btn-close-falcon-container position-absolute end-0 top-50 translate-middle shadow-none"
                     data-bs-dismiss="search">
                    <div class="btn-close-falcon" aria-label="Close"></div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
        <li class="nav-item">
            <div class="theme-control-toggle fa-icon-wait px-2">
                <input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle"
                       type="checkbox"
                       data-theme-control="theme" value="dark">
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-light"
                       for="themeControlToggle"
                       data-bs-toggle="tooltip" data-bs-placement="left" title=""
                       data-bs-original-title="Switch to light theme">
                    <svg class="svg-inline--fa fa-sun fa-w-16 fs-0" aria-hidden="true" focusable="false"
                         data-prefix="fas" data-icon="sun" role="img" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512" data-fa-i2svg="">
                        <path fill="currentColor"
                              d="M256 160c-52.9 0-96 43.1-96 96s43.1 96 96 96 96-43.1 96-96-43.1-96-96-96zm246.4 80.5l-94.7-47.3 33.5-100.4c4.5-13.6-8.4-26.5-21.9-21.9l-100.4 33.5-47.4-94.8c-6.4-12.8-24.6-12.8-31 0l-47.3 94.7L92.7 70.8c-13.6-4.5-26.5 8.4-21.9 21.9l33.5 100.4-94.7 47.4c-12.8 6.4-12.8 24.6 0 31l94.7 47.3-33.5 100.5c-4.5 13.6 8.4 26.5 21.9 21.9l100.4-33.5 47.3 94.7c6.4 12.8 24.6 12.8 31 0l47.3-94.7 100.4 33.5c13.6 4.5 26.5-8.4 21.9-21.9l-33.5-100.4 94.7-47.3c13-6.5 13-24.7.2-31.1zm-155.9 106c-49.9 49.9-131.1 49.9-181 0-49.9-49.9-49.9-131.1 0-181 49.9-49.9 131.1-49.9 181 0 49.9 49.9 49.9 131.1 0 181z"></path>
                    </svg>
                    <!-- <span class="fas fa-sun fs-0" aria-hidden="true"></span> Font Awesome fontawesome.com -->
                </label>
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark"
                       for="themeControlToggle"
                       data-bs-toggle="tooltip" data-bs-placement="left" title=""
                       data-bs-original-title="Switch to dark theme">
                    <svg class="svg-inline--fa fa-moon fa-w-16 fs-0" aria-hidden="true" focusable="false"
                         data-prefix="fas" data-icon="moon" role="img" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512" data-fa-i2svg="">
                        <path fill="currentColor"
                              d="M283.211 512c78.962 0 151.079-35.925 198.857-94.792 7.068-8.708-.639-21.43-11.562-19.35-124.203 23.654-238.262-71.576-238.262-196.954 0-72.222 38.662-138.635 101.498-174.394 9.686-5.512 7.25-20.197-3.756-22.23A258.156 258.156 0 0 0 283.211 0c-141.309 0-256 114.511-256 256 0 141.309 114.511 256 256 256z"></path>
                    </svg>
                </label>
            </div>
        </li>

        <li class="nav-item">
            <div class="theme-control-toggle px-2">
                <a href="/admin_page/coins">Tangalar: 0</a>
            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="nav-link pe-0" id="navbarDropdownUser" href="#" role="button"
               data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-xl">
                    <img class="rounded-circle"
                         src="{% if user.is_authenticated %}{% if user.image %}{{ user.image.url }}{% else %}https://alijahon.uz/media/img/nouser.png{% endif %}{% else %}https://alijahon.uz/static/app/themes/stock/assets/img/nouser.png{% endif %}"
                         alt="card"/>
                </div>
            </a>
            {% if user.is_authenticated %}
                <div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser"
                     data-bs-popper="none">
                    <div class="bg-white dark__bg-1000 rounded-2 py-2">

                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item" href="/profile">
                            Profil
                        </a>
                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item"
                           href="/profile/liked-products">
                            Sevimlilar
                        </a>
                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item"
                           href="/profile/settings">
                            Sozlamalar
                        </a>
                        <a class="dropdown-item fw-bold text-warning" href="{% url 'menu' %}">
                            <svg class="svg-inline--fa fa-crown fa-w-20 me-1" aria-hidden="true"
                                 focusable="false" data-prefix="fas" data-icon="crown" role="img"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                      d="M528 448H112c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h416c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm64-320c-26.5 0-48 21.5-48 48 0 7.1 1.6 13.7 4.4 19.8L476 239.2c-15.4 9.2-35.3 4-44.2-11.6L350.3 85C361 76.2 368 63 368 48c0-26.5-21.5-48-48-48s-48 21.5-48 48c0 15 7 28.2 17.7 37l-81.5 142.6c-8.9 15.6-28.9 20.8-44.2 11.6l-72.3-43.4c2.7-6 4.4-12.7 4.4-19.8 0-26.5-21.5-48-48-48S0 149.5 0 176s21.5 48 48 48c2.6 0 5.2-.4 7.7-.8L128 416h384l72.3-192.8c2.5.4 5.1.8 7.7.8 26.5 0 48-21.5 48-48s-21.5-48-48-48z"></path>
                            </svg>
                            <!-- <span class="fas fa-crown me-1" aria-hidden="true"></span> Font Awesome fontawesome.com -->
                            <span>Adminlar uchun</span>
                        </a>

                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item"
                           href="{% url 'logout_page' %}">
                            Chiqish
                        </a>
                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item" target="_blank"
                           href="https://t.me/shaxadmin">
                            Savollar bo'yicha
                        </a>

                    </div>
                </div>
            {% else %}
                <div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
                    <div class="bg-white dark__bg-1000 rounded-2 py-2">

                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item"
                           href="{% url 'login_page' %}">
                            Profil
                        </a>
                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item"
                           href="{% url 'login_page' %}">
                            Ro'yxatdan o'tish
                        </a>

                    </div>
                </div>
            {% endif %}
        </li>
    </ul>
</nav>
