{% extends 'apps/base.html' %}

{% load favourite_tags %}

{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="container border-bottom-4">
                <div class="content_name_block">
                    <a href="{% url 'product_list' %}" class="content_name_block_back"><span
                            class="fa fa-arrow-right"></span></a>
                    <div class="content_name_block_text">
                        <p> Sevimlilarim </p>
                    </div>
                </div>
            </div>

            {% if favourites.exists %}
                <div class="container">
                    <div class="content_favorite">
                        <div class="row">
                            {% for favourite in favourites %}
                                <div class="col-md-4 p-5">
                                    <h3>
                                        <a href="{% url 'product_detail' favourite.product.slug %}">Mahsulot: {{ favourite.product.name }}</a>
                                    </h3>
                                    <small>Mahsulot narxi: {{ favourite.product.price }}</small>
                                    <a href="{% url 'favorite' favourite.product.pk %}"
                                       style="font-size: 30px; color: goldenrod; margin-left: 20px">
                                        {% if user|is_liked:favourite.product %}
                                            ★
                                        {% else %}
                                            ☆
                                        {% endif %}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="content_single-product-nouser">
                    <div class="content_single-product-nouser_info">
                        <span class="fa fa-shopping-cart"></span>
                        <p> Sevimlilar ro'yhati bo'sh </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
