{% extends  'apps/base.html' %}


{% load category_tags %}

{% block content %}
    <style>
        .header_menu {
            padding: 12px;
        }

        .header_menu .btn-default {
            border: 1px solid #ddd;
            border-radius: 20px;
            padding: 10px;
            font-size: 15px;
        }

        .header_menu .btn-default.active, .header_menu .btn-default:hover {
            background-color: #5e6e82;
            color: white;
        }

        .disabletBtn {
            background-color: gray;
            color: red;
        }
    </style>

    <div class="card mb-3">
        <div class="card-body">
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Oqim yaratish</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'create_stream' %}" method="POST" class="form-class">
                                {% csrf_token %}
                                <input name="product" type="hidden" id="hidden_product" value="{{ id }}">

                                Oqim nomi <input type="text" name="name" class="form-control" placeholder
                                                 mt-2="Oqim uchun nom kiriting" required id="id_title">

                                Chegirma <input type="text" oninput="checkDiscountPrice(this)" name="discount"
                                                class="form-control"
                                                placeholder="Chegirma miqdori: {{ payment_referral }} so'mgacha"
                                                id="id_discount">
                                <input type="submit" class="btn btn-primary mt-4 btn-click" value="Oqim yaratish">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <br>
                <br>
                <h3 class="text-center"> Hozirda sotuvda bor <br> mahsulotlar </h3>
                <br>

                <div class="container border-bottom-4">
                    <div class="header_tab_menu">
                        <div class="header_menu" style="overflow: auto">
                            <a href="{% url 'market' %}" class="btn btn-default {{ request.path|is_current_category }}">
                                Hammasi </a>
                            <a href="?category=top" class="btn btn-default"> Top tovarlar </a>
                            {% for category in categories %}
                                <a href="?category={{ category.slug }}"
                                   class="btn btn-default {{ request.path|is_current_category:category.slug }}"> {{ category.name }} </a>
                            {% endfor %}
                        </div>
                        <div class="search-box" style="width: 100%;">
                            <form class="position-relative" style="width: 100%" data-bs-display="static"
                                  autocomplete="off">
                                <input id="search-input" name="search" class="form-control search-input" type="search"
                                       placeholder="Qidiruv..." aria-label="Search"/>
                                <span class="fas fa-search search-box-icon"></span>
                            </form>
                        </div>
                    </div>
                </div>

                {#            <div class="card" bis_skin_checked="1">#}
                {#                <div class="card-body" bis_skin_checked="1">#}
                {##}
                {#                    <div class="alert alert-warning d-block" role="alert" bis_skin_checked="1">Oqim noto'g'ri#}
                {#                        yaratildi iltimos tekshirib qayta urinib ko'ring#}
                {#                    </div>#}
                {##}
                {#                </div>#}
                {#            </div>#}

                <div class="row">

                    {% for product in products %}

                        <div class="col-sm-4 p-2">
                            <div class="card">
                                <a href="{% url 'product_detail' product.slug %}" target="_blank">
                                    <img class="card-img-top" src="{{ product.image.url }}"
                                         alt="{{ product.name }}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{% url 'product_detail' product.slug %}"
                                           target="_blank">
                                            {{ product.name }}
                                        </a>
                                    </h5>
                                    <p class="text-muted"> {{ product.price }} so'm </p>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">To'lov: <strong>{{ product.payment_referral }} </strong>
                                    </li>

                                    <li class="list-group-item">Zaxirada: <strong> {{ product.quantity }} ta </strong>
                                    </li>

                                    <li class="list-group-item">Chegirma: <strong> yuq </strong>
                                    </li>

                                </ul>


                                <a href="https://t.me/alijahon_uz_Internet_magazin/1595"
                                   class="btn bg-danger text-white mt-2">Reklama
                                    Posti</a>
                                <button class="btn btn-primary btn_open_modal" type="button" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"
                                        name="{{ product.id }},{{ product.payment_referral }}">
                                    Oqim yaratish
                                </button>
                                <a href="{% url 'statistic_product' product.id %}"
                                   class="btn bg-danger text-white mt-2">Batafsil</a>
                            </div>
                        </div>

                    {% endfor %}


                    {% include 'apps/parts/_pagination.html' %}
                </div>
            </div>
        </div>
    </div>


    <script>
        let priceDiscount11 = 0;

        document.querySelectorAll('.btn_open_modal').forEach(button => {
            button.addEventListener('click', function () {
                let product_id = this.getAttribute('name');
                let valuesArray = product_id.split(','); // Vergul orqali ajratish
                let id = valuesArray[0];  // Birinchi qiymat
                let payment_referral = valuesArray[1];            // Ikkinchi qiymat


                priceDiscount11 = payment_referral;
                console.log("priceDiscount11", priceDiscount11)
                console.log("Tugma bosildi, mahsulot ID:", id);
                console.log(product_id)
                document.getElementById('hidden_product').value = id;
            });
        });

        function checkDiscountPrice(element) {
            let value = element.value;
            let btnClick = document.getElementsByClassName("btn-click")[0]; // Birinchi tugmani olish

            console.log("Chegirma miqdori:", value);

            if (value > priceDiscount11) {
                console.log("if");
                btnClick.classList.add("disabletBtn");
                btnClick.classList.remove("btn");
                btnClick.classList.remove("btn-primary");
                btnClick.disabled = true; // Tugmani o'chirish
            } else {
                console.log("else");
                btnClick.classList.remove("disabletBtn"); // O'zgartirilishi kerak
                btnClick.classList.add("btn"); // Tugmani asl holatiga qaytarish
                btnClick.classList.add("btn-primary"); // Tugmani asl holatiga qaytarish
                btnClick.disabled = false; // Tugmani yoqish
            }
        }


        {#function checkDiscountPrice(element) {#}
        {##}
        {#console.log("Tugma bosildi, mahsulot ID:", product_id);#}
        {#    console.log(element)#}
        {##}
        {#    let value = element.value;#}
        {#    let btnClick = document.getElementsByClassName("btn-click")[0]#}
        {##}
        {#    console.log(btnClick)#}
        {##}
        {##}
        {#    console.log("Chegirma miqdori:", value);#}
        {##}
        {#    // Agar chegirma qiymati bo'lsa, tugmani yoqing#}
        {#    if (value > priceDiscount11) {#}
        {#        console.log("if")#}
        {#        console.log(btnClick)#}
        {#        btnClick.classList.add("disabletBtn")#}
        {#        btnClick.classList.remove("btn")#}
        {#        btnClick.classList.remove("btn-primary")#}
        {#        btnClick.disabled = true; // Tugmani yoqish#}
        {#    } else {#}
        {#        console.log("else")#}
        {#        btnClick.classList.add("disabletBtn")#}
        {#        btnClick.classList.remove("btn")#}
        {#        btnClick.classList.remove("btn-primary")#}
        {#        btnClick.disabled = false; // Tugmani o'chirish#}
        {#    }#}
        {##}
        {##}
        {#console.log("Chegirma miqdori:", value);#}
        {#}#}

            {#console.log({{ form.errors }})#}
            console.log(product_id)

    </script>
{% endblock %}
