{% extends 'apps/base.html' %}

{% block content %}
    <div class="card-body d-flex justify-content-between">
        <div>
            <a class="btn btn-falcon-default btn-sm" href="{% url 'menu' %}" data-bs-toggle="tooltip"
               data-bs-original-title="Orqaga">
                <svg class="svg-inline--fa fa-arrow-left fa-w-14"
                     data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor"
                          d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
                </svg>
            </a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Operator</th>
                            <th scope="col">Mahsulot</th>
                            <th scope="col">Oqim</th>
                            <th scope="col">Buyurtmachi</th>
                            <th scope="col">Viloyat</th>
                            <th scope="col">Holat</th>
                            <th scope="col">Izoh</th>
                            <th scope="col">Sana</th>
                        </tr>
                        </thead>

                        <tbody class="text-center">

                        {% for order in orders %}
                            <tr style="text-align: center;">
                                <th scope="col">{{ order.pk }}</th>
                                <th scope="col">operator_id</th>
                                <th scope="col">{{ order.product.name }}</th>
                                <th scope="col">{{ order.stream.name }}</th>
                                <th scope="col">{{ order.full_name }}</th>
                                <th scope="col">{{ order.region|default_if_none:'Viloyat kiritilmagan' }}</th>
                                {#TODO operator qohgandan kegin togirlash#}
                                <th scope="col">{{ order.status }}</th>
                                <th scope="col">operator bilan bogliq</th>
                                {#TODO sanani togirlash #}
                                <th scope="col">{{ order.created_at }}</th>
                                {# 28-Sentabr, 2024-yil 17:34#}
                                {# Sept. 25, 2024, 12:51 p.m.#}
                            </tr>

                        {% endfor %}


                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}