{% extends 'apps/base.html' %}


{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <div class="container border-bottom-4">
                    <div class="header_tab_menu">
                        <div class="header_menu" style="overflow: auto">
                            <a href="?period=today" class="btn btn-default">Bugun</a>
                            <a href="?period=last_day" class="btn btn-default">Kechagi</a>
                            <a href="?period=weekly" class="btn btn-default">Haftalik</a>
                            <a href="?period=monthly" class="btn btn-default">Oylik</a>
                            <a href="{% url 'stream_status' %}" class="btn btn-default">Hammasi</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">

                        <tr>
                            <th scope="col">Oqim</th>
                            <th scope="col">Mahsulot</th>
                            <th scope="col">Tashrif</th>
                            <th scope="col">Yangi</th>
                            <th scope="col">Dastavkaga tayyor</th>
                            <th scope="col">Yetkazilmoqda</th>
                            <th scope="col">Yetqazib berildi</th>
                            <th scope="col">Telefon ko'tarmadi</th>
                            <th scope="col">Bekor qilindi</th>
                            <th scope="col">Arxivlandi</th>
                        </tr>
                        <tr class="bg-info">
                            <td> JAMI</td>
                            <td></td>
                            <td> {{ streams.aggregates.total_visit_count }}</td>
                            <td> {{ streams.aggregates.total_new }}</td>
                            <td> {{ streams.aggregates.total_ready }}</td>
                            <td> {{ streams.aggregates.total_deliver }}</td>
                            <td> {{ streams.aggregates.total_delivered }}</td>
                            <td> {{ streams.aggregates.total_cant_phone }}</td>
                            <td> {{ streams.aggregates.total_canceled }}</td>
                            <td> {{ streams.aggregates.total_archived }}</td>
                        </tr>
                        </thead>

                        <tbody class="text-center">

                        {% for stream in streams %}
                            <tr>
                                <th>{{ stream.name }}</th>
                                <th>{{ stream.product.name }}</th>
                                <td>{{ stream.visit_count }}</td>
                                <td>{{ stream.new }}</td>
                                <td>{{ stream.ready }}</td>
                                <td>{{ stream.deliver }}</td>
                                <td>{{ stream.delivered }}</td>
                                <td>{{ stream.cant_phone }}</td>
                                <td>{{ stream.canceled }}</td>
                                <td>{{ stream.archived }}</td>
                            </tr>
                        {% endfor %}


                        <tr class="bg-info">
                            <td> JAMI</td>
                            <td></td>
                            <td> {{ streams.aggregates.total_visit_count }}</td>
                            <td> {{ streams.aggregates.total_new }}</td>
                            <td> {{ streams.aggregates.total_ready }}</td>
                            <td> {{ streams.aggregates.total_deliver }}</td>
                            <td> {{ streams.aggregates.total_delivered }}</td>
                            <td> {{ streams.aggregates.total_cant_phone }}</td>
                            <td> {{ streams.aggregates.total_canceled }}</td>
                            <td> {{ streams.aggregates.total_archived }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}