{% extends 'apps/base.html' %}

{% block content %}

    <div class="card mb-3">
        <div class="card-body">

            <div class="container border-bottom-4">
                <div class="content_name_block">
                    <a href="{% url 'menu' %}" class="content_name_block_back"><span
                            class="fa fa-arrow-right"></span></a>
                    <div class="content_name_block_text">
                        <h1>Mahsulot statistikasi</h1>
                    </div>
                </div>
            </div>
            <div class="container">

                <div class="content_favorite">
                    <div class="row">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Ma'lumot</th>
                                <th scope="col">Umumiy</th>
                                <th scope="col">Sizda</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Oqimlar</td>
                                <td>{{ all_stream_len }}</td>
                                <td>{{ user_stream_len }}</td>
                            </tr>
                            <tr>
                                <td>Admin bonusi</td>
                                <td>{{ product.payment_referral|default_if_none:0 }}</td>
                                <td>{{ product.payment_referral|default_if_none:0 }}</td>
                            </tr>
                            <tr>
                                <td>Mahsulot narxi</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.price }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
