{% extends  'apps/base.html' %}


{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card mb-3 btn-reveal-trigger">
                <div class="card-header position-relative min-vh-25 mb-8">
                    <div class="cover-image">
                        <div class="bg-holder rounded-3 rounded-bottom-0">
                        </div>
                        <input class="d-none" id="upload-cover-image" type="file">

                    </div>
                    <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                        <form action="{% url 'profile_settings' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="h-100 w-100 rounded-circle overflow-hidden position-relative"><img
                                    src="
                                            
                                            {% if user.image %}{{ user.image.url }}{% else %}https://alijahon.uz/media/img/nouser.png{% endif %}"
                                    width="200" alt="" data-dz-thumbnail="data-dz-thumbnail">

                                <input name="image" class="d-none" id="profile-image" type="file"/>
                                <label class="mb-0 overlay-icon d-flex flex-center" for="profile-image"><span
                                        class="bg-holder overlay overlay-0"></span><span
                                        class="z-index-1 text-white dark__text-white text-center fs--1"><span
                                        class="fas fa-camera"></span><span class="d-block">Update</span></span></label>
                            </div>
                            <div class="col-12 d-flex justify-content-end" style="margin-left: 80px">
                                <button class="btn btn-primary" type="submit">Saqlash</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-lg-8 pe-lg-2">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0">Sozlamalar</h5>
                </div>
                <div class="card-body bg-light">

                    <form action="{% url 'profile_settings' %}" class="row g-3" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-lg-6">
                            Ismi
                            <input type="text" name="first_name" class="form-control" maxlength="30" id="id_first_name"
                                   value="{{ user.first_name }}">

                        </div>

                        <div class="col-lg-6">
                            Familiya
                            <input type="text" name="last_name" class="form-control" maxlength="40" id="id_last_name"
                                   value="{{ user.last_name }}">

                        </div>

                        <div class="col-lg-6">
                            Viloyat
                            <select name="region" class="form-control" id="id_region">
                                <option value="Viloyatni tanlang">Viloyatni tanlang</option>

                                {% for region in regions %}
                                    <option value="{{ region.slug }}">{{ region.name }}</option>
                                {% endfor %}


                            </select>

                        </div>

                        <div class="col-lg-6">
                            Shahar/Tuman
                            <input type="text" name="district__name" class="form-control" maxlength="100" id="id_city"
                                   value="{{ user.district.name }}">

                        </div>

                        <div class="col-lg-6">
                            Manzil
                            <input type="text" name="address" class="form-control" maxlength="200" id="id_location"
                                   value="{{ user.address|default_if_none:'' }}">

                        </div>

                        <div class="col-lg-6">
                            Telegram id
                            <input type="text" name="telegram_id" class="form-control" maxlength="200"
                                   id="id_telegram_id"
                                   value="{{ user.telegram_id|default_if_none:'' }}">

                        </div>

                        <div class="col-lg-6">
                            Siz haqingizda
                            <textarea name="about" cols="40" rows="10" class="form-control" maxlength="399"
                                      id="id_description">{{ user.about }}</textarea>

                        </div>


                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Saqlash</button>
                        </div>

                    </form>
                </div>
            </div>


        </div>
        <div class="col-lg-4 ps-lg-2">
            <div class="sticky-sidebar">


                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">Parolni o'zgartirish</h5>
                    </div>
                    <div class="card-body bg-light">
                        <form action="{% url 'update_password' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label" for="old-password">Oldingi parol</label>
                                <input name="password" class="form-control" id="old-password" type="password">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="new-password">Yangi parol</label>
                                <input name="new_password1" class="form-control" id="new-password" type="password">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="confirm-password">Yangi parolni
                                    takrorlash</label>
                                <input name="new_password2" class="form-control" id="confirm-password" type="password">
                            </div>
                            <button class="btn btn-primary d-block w-100" type="submit">Parolni yangilash
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
