{% extends 'apps/base.html' %}

{% load static %}

{% block content %}

    <div class="container text-center pb-5 card" style="margin-top: 80px;">
        <div class="card-body" style="margin-top: 30px">

        </div>

        <img style="height: 100px; width:100px; margin-left:45%; margin-top: 30px"
             src="{% static 'apps/assets/img/success_icon.png' %}" alt="Green Success Image">
        <h3 class="mt-4">Arizangiz qabul qilindi!</h3>
        <p>Batafsil ma&#x27;lumot uchun operator yaqin vaqt ichida siz bilan aloqaga chiqadi.</p>
        <p>Iltimos, telefoningiz yoqilgan holda bo'lsin!</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Mahsulot</th>
                <th scope="col">Summa</th>
                <th scope="col">Soni</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="col">{{ order.product.name }}</th>
                <th scope="col">{{ order.price }}</th>
                <th scope="col">1</th>
            </tr>

            <tr>
                <th scope="col">Yetkazib berish</th>
                <th scope="col">
                    Delivery Price Regions: {{ delivery.delivery_price_regions }}<br>
                    Delivery Price Tashkent Region: {{ delivery.delivery_price_tashkent_region }}<br>
                    Delivery Price Tashkent: {{ delivery.delivery_price_tashkent }}<br><br>
                    <b style="color: black">Operator siz bilan bog`lanib tushincha beradi</b>
                </th>
            </tr>


            </tbody>
        </table>
        <div class="row">
            <div class="col-md-6">


            </div>
            <div class="col-md-6 mt-3">
                <a href="{% url 'product_list' %}" class="btn btn-primary w-50">Boshqa mahsulotlar</a>
            </div>
        </div>
    </div>

{% endblock %}